.intro {
  display: flex;
  justify-content: space-between;
  .intro__img {
    background-image: url("../../assets/Home-Hero-Image.png");
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    width: 50%;
    position: relative;
    right: 10%;
  }
}