.btn__big {
  font-family: $font-base;
  font-size: 24px;
  text-decoration: none;
  font-weight: 100;
  color: $dark-grey;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 80px;
  border: 1px solid $dark-grey;
  &:hover {
    border: 1px solid $light-gold;
    transition: 0.2s;
    color: $light-gold;

  }


  p {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    height: 100%;
    text-align: center;
  }
}

.btn__help {
  font-family: $font-base;
  background-color: white;
  border: 1px solid $dark-grey;
  padding: 1em;
  &:hover {
    border: 1px solid $light-gold;
    transition: 0.2s;
    color: $light-gold;
  }
  &:focus {
    outline: none;
  }
}

