.header {
  font-family: $font-base;
  display: flex;
  justify-content: flex-end;
    .nav {
      display: flex;
      flex-direction: column;
      gap: 1em;
      margin-top: 2rem;
      .userbar {
        display: flex;
        justify-content: flex-end;
        .userbar__item {
          padding: 0.3em;
          a {
            padding: 5px 10px;
            text-decoration: none;
            color: $light-grey;
            &:hover {
              border-bottom: 0.5px solid $light-gold;
              transition: 0.2s;
            }
          }
        }
      }
      .navbar {
        display: flex;
        .navbar__item {
          padding: 9px 15px;
          &:hover {
            border-bottom: 0.5px solid $light-gold;
            transition: 0.2s;

          }
          &:first-child {
            border: 0.5px solid $light-gold;
          }
          a {
            cursor: pointer;
            color: $dark-grey;
          }
        }
      }
    }
  }



